<div class="container-fluid">
  <!--=================Center Content=================-->
  <!--Heading-->
  <div class="container mt-4 mb-5">
    <div class="row">
        <div class="col-12" id="border"></div>
        <div id="hel">
            <h2>Shop Our Product</h2>
        </div>
    </div>
  </div>
  <!--Heading-->
  <section class="feature_part pt-4 ">
    <div class="container p-lg-0 overflow-hidden ">
        <div class="row align-items-center justify-content-between ">
            <div class="col-lg-3 col-md-4 col-sm-6 ">
                <div class="single_feature_post_text ">
                    <img src="../../assets/img/feature_1.jpeg" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s" alt="# ">
                    <div id="box_product">
                        <p id="our_product" class="mt-2.5 wow slideInLeft" data-wow-duration="1s" data-wow-delay="1.5s">Shirt</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="single_feature_post_text ">
                    <img src="../../assets/img/feature_2.jpeg " class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.15s" alt="# ">
                    <p id="our_product" class="mt-2.5 wow slideInLeft" data-wow-duration="1s" data-wow-delay="1.5s">Pant</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="single_feature_post_text ">
                    <img src="../../assets/img/feature_3.jpeg " class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.25s" alt="# ">
                    <p id="our_product" class="mt-2.5 wow slideInLeft" data-wow-duration="1s" data-wow-delay="1.5s">Shoes</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="single_feature_post_text ">
                    <img src="../../assets/img/feature_4.jpeg " class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.35s" alt="# ">
                    <p id="our_product" class="mt-2.5 wow slideInLeft" data-wow-duration="1s" data-wow-delay="1.5s">Hat</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="single_feature_post_text ">
                    <img src="../../assets/img/feature_5.jpeg " class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.45s" alt="# ">
                    <p id="our_product" class="mt-2.5 wow slideInLeft" data-wow-duration="1s" data-wow-delay="1.5s">Walate</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="single_feature_post_text ">
                    <img src="../../assets/img/feature_6.jpeg " class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.55s" alt="# ">
                    <p id="our_product" class="mt-2.5 wow slideInLeft" data-wow-duration="1s" data-wow-delay="1.5s">Belt</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="single_feature_post_text ">
                    <img src="../../assets/img/feature_7.jpg " class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.65s" alt="# ">
                    <p id="our_product" class="mt-2.5 wow slideInLeft" data-wow-duration="1s" data-wow-delay="1.5s">Watches</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="single_feature_post_text ">
                    <!--<img src="../../assets/img/feature_2.jpeg " class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.25s" alt="# ">
                    <p id="our_product" class="mt-2.5">Pant</p>-->
                </div>
            </div>
        </div>
    </div>


  </section>

  <!--=================Center Content=================-->
  <!-- new arrival part here -->

  <section class="new_arrival section_padding ">
    <div class="container new_bg">
        <div class="row align-items-center ">
            <div class="col-lg-8 ">
                <div class="arrival_tittle ">
                    <h3 class="wow slideInLeft" data-wow-duration="1s" data-wow-delay="0s">New Arrival</h3>
                </div>
            </div>
            <div class="col-lg-4 ">
                <div class="arrival_filter_item filters ">
                    <ul>
                        <li class="active controls wow zoomIn" data-wow-duration="1s" data-wow-delay="1s">all</li>
                        <li class="controls wow zoomIn" data-wow-duration="1s" data-wow-delay="1s">men</li>
                        <li class="controls wow zoomIn" data-wow-duration="1s" data-wow-delay="1s">women</li>
                        <li class="controls wow zoomIn" data-wow-duration="1s" data-wow-delay="1s">shoes</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid ">
        <div class="row ">
            <div class="col-lg-12 ">
                <div class="new_arrival_iner filter-container ">
                    <div class="single_arrivel_item weidth_1 mix shoes ">
                        <img src="../../assets/img/arrivel/arrivel_1.png " class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s" alt="# ">
                        <div class="hover_text ">
                            <p>Canvas</p>
                            <a >
                                <h3>Lorem Canvas Low-Top Sneaker</h3>
                            </a>
                            <div class="rate_icon ">
                                <a > <i class="fas fa-star "></i> </a>
                                <a > <i class="fas fa-star "></i> </a>
                                <a > <i class="fas fa-star "></i> </a>
                                <a > <i class="fas fa-star "></i> </a>
                                <a > <i class="fas fa-star "></i> </a>
                            </div>
                            <h5>$150</h5>
                            <div class="social_icon ">
                                <a ><i class="ti-heart "></i></a>
                                <a ><i class="ti-bag "></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="single_arrivel_item weidth_2 mix women ">
                        <img src="../../assets/img/arrivel/arrivel_2.png " class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s" alt="# ">
                        <div class="hover_text ">
                            <p>Canvas</p>
                            <a >
                                <h3>Lorem Canvas Low-Top Sneaker</h3>
                            </a>
                            <div class="rate_icon ">
                                <a > <i class="fas fa-star "></i> </a>
                                <a > <i class="fas fa-star "></i> </a>
                                <a > <i class="fas fa-star "></i> </a>
                                <a > <i class="fas fa-star "></i> </a>
                                <a > <i class="fas fa-star "></i> </a>
                            </div>
                            <h5>$150</h5>
                            <div class="social_icon ">
                                <a href="#"><i class="ti-heart "></i></a>
                                <a ><i class="ti-bag "></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="single_arrivel_item weidth_3 mix shoes women ">
                        <img src="../../assets/img/arrivel/arrivel_3.png " class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s" alt="# ">
                        <div class="hover_text ">
                            <p>Canvas</p>
                            <a >
                                <h3>Lorem Canvas Low-Top Sneaker</h3>
                            </a>
                            <div class="rate_icon ">
                                <a > <i class="fas fa-star "></i> </a>
                                <a > <i class="fas fa-star "></i> </a>
                                <a > <i class="fas fa-star "></i> </a>
                                <a > <i class="fas fa-star "></i> </a>
                                <a > <i class="fas fa-star "></i> </a>
                            </div>
                            <h5>$150</h5>
                            <div class="social_icon ">
                                <a ><i class="ti-heart "></i></a>
                                <a ><i class="ti-bag "></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="single_arrivel_item weidth_3 mix women men ">
                        <img src="../../assets/img/arrivel/arrivel_4.png " class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s" alt="# ">
                        <div class="hover_text ">
                            <p>Canvas</p>
                            <a >
                                <h3>Lorem Canvas Low-Top Sneaker</h3>
                            </a>
                            <div class="rate_icon ">
                                <a > <i class="fas fa-star "></i> </a>
                                <a > <i class="fas fa-star "></i> </a>
                                <a > <i class="fas fa-star "></i> </a>
                                <a > <i class="fas fa-star "></i> </a>
                                <a > <i class="fas fa-star "></i> </a>
                            </div>
                            <h5>$150</h5>
                            <div class="social_icon ">
                                <a ><i class="ti-heart "></i></a>
                                <a ><i class="ti-bag "></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="single_arrivel_item weidth_2 mix men women ">
                        <img src="../../assets/img/arrivel/arrivel_5.png " class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s" alt="# ">
                        <div class="hover_text ">
                            <p>Canvas</p>
                            <a >
                                <h3>Lorem Canvas Low-Top Sneaker</h3>
                            </a>
                            <div class="rate_icon ">
                                <a > <i class="fas fa-star "></i> </a>
                                <a > <i class="fas fa-star "></i> </a>
                                <a > <i class="fas fa-star "></i> </a>
                                <a > <i class="fas fa-star "></i> </a>
                                <a > <i class="fas fa-star "></i> </a>
                            </div>
                            <h5>$150</h5>
                            <div class="social_icon ">
                                <a ><i class="ti-heart "></i></a>
                                <a ><i class="ti-bag "></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="single_arrivel_item weidth_1 mix shoes men ">
                        <img src="../../assets/img/arrivel/arrivel_6.png " class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s" alt="# ">
                        <div class="hover_text ">
                            <p>Canvas</p>
                            <a >
                                <h3>Lorem Canvas Low-Top Sneaker</h3>
                            </a>
                            <div class="rate_icon ">
                                <a > <i class="fas fa-star "></i> </a>
                                <a > <i class="fas fa-star "></i> </a>
                                <a > <i class="fas fa-star "></i> </a>
                                <a > <i class="fas fa-star "></i> </a>
                                <a > <i class="fas fa-star "></i> </a>
                            </div>
                            <h5>$150</h5>
                            <div class="social_icon ">
                                <a ><i class="ti-heart "></i></a>
                                <a ><i class="ti-bag "></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- new arrival part end -->
  <!--Testimonial-->
  <div class="container mb-5">
    <div class="row">
        <div class="col-12" id="border"></div>
        <div id="hel">
            <h2>Customer Reviews</h2>
        </div>
    </div>
  </div>
  <!--Testimonial-->
  <!-- Section: Testimonials -->
  <section class="text-center my-5 p-1">

    <!-- Section heading -->

    <!-- Section description -->

    <!-- Grid row -->
    <div class="row">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
            <!--Card-->
            <div class="card testimonial-card wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                <!--Background color-->
                <div class="card-up info-color"></div>
                <!--Avatar-->
                <div class="avatar mx-auto white">
                    <img src="../../assets/img/author/author_1.jpeg" class="rounded-circle img-fluid " >
                </div>
                <div class="card-body">
                    <!--Name-->
                    <h4 class="font-weight-bold mb-4">Kamran Rizwan</h4>
                    <hr>
                    <!--Quotation-->
                    <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>Lorem ipsum dolor sit amet eos adipisci, consectetur adipisicing elit.</p>
                </div>
            </div>
            <!--Card-->
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
            <!--Card-->
            <div class="card testimonial-card wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.15s">
                <!--Background color-->
                <div class="card-up blue-gradient">
                </div>
                <!--Avatar-->
                <div class="avatar mx-auto white">
                    <img src="../../assets/img/author/author_2.jpeg" class="rounded-circle img-fluid">
                </div>
                <div class="card-body">
                    <!--Name-->
                    <h4 class="font-weight-bold mb-4">Junaid Ahmad</h4>
                    <hr>
                    <!--Quotation-->
                    <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>Neque cupiditate assumenda in maiores repudiandae mollitia architecto.</p>
                </div>
            </div>
            <!--Card-->
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6">
            <!--Card-->
            <div class="card testimonial-card wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.25s">
                <!--Background color-->
                <div class="card-up indigo"></div>
                <!--Avatar-->
                <div class="avatar mx-auto white">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded-circle img-fluid">
                </div>
                <div class="card-body">
                    <!--Name-->
                    <h4 class="font-weight-bold mb-4">Maria Kate</h4>
                    <hr>
                    <!--Quotation-->
                    <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>Delectus impedit saepe officiis ab aliquam repellat rem unde ducimus.</p>
                </div>
            </div>
            <!--Card-->
        </div>
        <!--Grid column-->

    </div>
    <!-- Grid row -->

  </section>
  <!-- Section: Testimonials v.1 -->

  <!-- free shipping here -->
  <!--Service-->
  <div class="container mt-4 mb-5">
    <div class="row">
        <div class="col-12" id="border"></div>
        <div id="hel">
            <h2>OUR SERVICES</h2>
        </div>
    </div>
  </div>
  <!--Service-->
  <section class="shipping_details section_padding ">
    <div class="container ">
        <div class="row ">
            <div class="col-lg-3 col-sm-6 ">
                <div class="single_shopping_details ">
                    <img src="../../assets/img/icon/icon_1.png " class="wow zoomIn" data-wow-duration="1s" data-wow-delay="1s" alt=" ">
                    <h4 class="wow zoomIn" data-wow-duration="1s" data-wow-delay="1s">Free shipping</h4>
                    <p class="wow zoomIn" data-wow-duration="1s" data-wow-delay="1s">Divided face for bearing the divide unto seed winged divided light Forth.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 ">
                <div class="single_shopping_details ">
                    <img class="wow zoomIn" data-wow-duration="1s" data-wow-delay="1s" src="../../assets/img/icon/icon_2.png " alt=" ">
                    <h4 class="wow zoomIn" data-wow-duration="1s" data-wow-delay="1s">Free shipping</h4>
                    <p class="wow zoomIn" data-wow-duration="1s" data-wow-delay="1s">Divided face for bearing the divide unto seed winged divided light Forth.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 ">
                <div class="single_shopping_details ">
                    <img class="wow zoomIn" data-wow-duration="1s" data-wow-delay="1s" src="../../assets/img/icon/icon_3.png" alt=" ">
                    <h4 class="wow zoomIn" data-wow-duration="1s" data-wow-delay="1s">Free shipping</h4>
                    <p class="wow zoomIn" data-wow-duration="1s" data-wow-delay="1s">Divided face for bearing the divide unto seed winged divided light Forth.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 ">
                <div class="single_shopping_details ">
                    <img class="wow zoomIn" data-wow-duration="1s" data-wow-delay="1s" src="../../assets/img/icon/icon_4.png " alt=" ">
                    <h4 class="wow zoomIn" data-wow-duration="1s" data-wow-delay="1s">Free shipping</h4>
                    <p class="wow zoomIn" data-wow-duration="1s" data-wow-delay="1s">Divided face for bearing the divide unto seed winged divided light Forth.</p>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- free shipping end -->

  </div>
